<a href="https://colab.research.google.com/github/HarshShetye/Djs_Compute_Task/blob/main/DJS_Compute_ML_Task_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1

In [ ]:
N, X = input("No. of Students and Subjects: ").split()
student_marks = list()
for _ in range(int(X)):
    Subject_marks = map(float, input("Subject marks: ").split())
    student_marks.append(Subject_marks)
for i in zip(*student_marks): 
    print(f"Avg marks of student {sum(i)/len(i)}")

No. of Students and Subjects: 5 3
Subject marks: 89 90 78 93 80
Subject marks: 90 91 85 88 86
Subject marks: 91 92 83 89 90.5
Avg marks of student 90.0
Avg marks of student 91.0
Avg marks of student 82.0
Avg marks of student 90.0
Avg marks of student 85.5

Q2

In [ ]:
if __name__ == '__main__':
    N = int(input())
    my_list=[];
    for i in range(0,N):
        list_ele=input().split();
        if list_ele[0] == "insert":
            my_list.insert(int(list_ele[1]),int(list_ele[2]))
        elif list_ele[0] == "append":
            my_list.append(int(list_ele[1]))
        elif list_ele[0] == "pop":
            my_list.pop();
        elif list_ele[0] == "print":
            print(my_list)
        elif list_ele[0] == "remove":
            my_list.remove(int(list_ele[1]))
        elif list_ele[0] == "sort":
            my_list.sort();
        else:
            my_list.reverse();

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

Q3

In [ ]:
if __name__ == '__main__':
    n = int(input("Enter no. of students: "))
    student_marks = {}
    for _ in range(n):
        line = input("Enter students name and marks scored: ").split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        student_marks[name] = scores
    query_name = input("Enter the students name for avg marks calculation: ")
    marks=0
    for i in student_marks[query_name]:
        marks=marks+i
    avg=marks/3
    print("Avg marks  %.2f"%avg)

Enter no. of students: 3
Enter students name and marks scored: Krishna 67 68 69
Enter students name and marks scored: Arjun 70 98 63
Enter students name and marks scored: Malika 52 56 60
Enter the students name for avg marks calculation: Malika
Avg marks  56.00

Q4

In [ ]:
import re

def fun(s):
  email = re.match(r'[a-zA-Z0-9_-]+@[a-zA-Z0-9]+\.[a-zA-Z]{1,3}$',s)            # using re.match function
  return(email)                                                                 # returning the email address

def filter_mail(emails):
    return list(filter(fun, emails))

if __name__ == '__main__':
    n = int(input("No. of emails: "))
    emails = []
    for _ in range(n):
        emails.append(input("Email address: "))

filtered_emails = filter_mail(emails)
filtered_emails.sort()
print(f"Valid email addresses {filtered_emails}")

No. of emails: 3
Email address: lara@hackerrank.com
Email address: brian-23@hackerrank.com
Email address: britts_54@hackerrank.com
Valid email addresses ['brian-23@hackerrank.com', 'britts_54@hackerrank.com', 'lara@hackerrank.com']

Q5

In [ ]:
def mutate_string(string, index , char):
    my_list = list(string)
    my_list[index] = char;
    string = ''.join(my_list);
    return string
if __name__ == '__main__':
    s = input()
    i, c = input().split()
    s_new = mutate_string(s, int(i), c)
    print(s_new)

abracadabra
5 k
abrackdabra

Q6

In [ ]:
list_1 = [10, 20, 30, 40, 10]
list_2 = [75, 35, 65, 75, 30]
def elements(test_list):
  print(f"The original list is : {test_list}")
  ele = [test_list[i] for i in (0, -1)]
  print(f"The first and last element of list are : {ele}")
  if test_list[0] == test_list[-1]:
    print("The first and last element of list are same\n")
  else:
    print("The first and last element of list are not same\n")  

elements(list_1)
elements(list_2)

The original list is : [10, 20, 30, 40, 10]
The first and last element of list are : [10, 10]
The first and last element of list are same

The original list is : [75, 35, 65, 75, 30]
The first and last element of list are : [75, 30]
The first and last element of list are not same

Q7

In [ ]:
rows = int(input("Enter number of rows: "))
for i in range(rows):
  for j in range(i + 1):
    print(i + 1, end=" ") 
  i += 1
  print("\n")

Enter number of rows: 5
1

2 2

3 3 3

4 4 4 4

5 5 5 5 5